@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  background-color: #141414;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
body .page{
  margin: 20px 80px;
}
/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  position:sticky;
  top: 0;
  background-color: #141414;
  padding: 10px 0px;
}
nav .onglets{
  display:flex;
  flex-wrap:wrap;
  margin-top: 5px;
}
nav .onglets{
  display:flex;
  flex-wrap:wrap;
}
nav .onglets a {
  margin-right: 20px;
  cursor:pointer;
}
nav .buttons button{
  padding: 13px 20px;
  color: #fff;
  border:none;
  font-size: 15px;
  cursor:pointer;
  outline:none;
}
nav .buttons .login{
  background-color: inherit;
  margin-right: 10px;
  color: #8f8f8f;
}
nav .buttons .register{
  background-color: #f54266;
}
/* Fin de la barre de navigation

/* Header */
header{
  margin-top: 40px;
  background: url('https://media.discordapp.net/attachments/982942650611159050/983729893143621732/Sans_titre-112345.png?width=881&height=496');
  background-repeat: no-repeat;
  background-size: 1000px 300px;
  background-position: center;
}
header h1{
  text-align:center;
  font-size: 60px;
  padding: 150px;
  transition: transform 2.5s;
}
/* Fin du header */

/* Pied de page */
footer{
  background-color: #1a1a1a;
  padding: 25px 100px;
  color:#828282;
}
footer .colonnes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
  body .page{
    margin: 10px;
  }
  nav .onglets{
    display:none;
  }
  header{
    margin-top: 20px;
    background-size: 250px 250px;
  }
  header h1{
    font-size: 30px;
    padding: 100px;
  }
}
html, body {
  margin: 0;
  background-color: 
  font-family 'Raleway Dots', sans-serif;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 80px 0px 40px;
  color: #fff;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  color: #;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li a {
  color: #;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
.credits a {
  display: block;
  text-align: center;
  color: 
  text-decoration: none;
  font-size 24px;
  margin-top: 50px;
  background: white;
  padding: 20px;
  max-width: 300px;
}